server {
  location / {
    proxy_pass http://${FEDORA_SERVICE_HOST}:${FEDORA_SERVICE_PORT_HTTP};
    auth_basic            "Fedora";
    auth_basic_user_file  /etc/nginx/htpasswd;
    sub_filter 'http://${FEDORA_SERVICE_HOST}:${FEDORA_SERVICE_PORT_HTTP}' 'http://${NGINX_EXTERNAL_IP}';
    sub_filter_once off;
    sub_filter_types text/html application/ld+json application/n-triples application/rdf+xml text/n3 text/rdf+n3 text/plain text/turtle application/x-turtle;
  }
}
